JitHook.Agent.Core/bin/
JitHook.Agent.Core/obj/
JitHook.Agent.Hook/bin/
JitHook.Agent.Hook/obj/
JitHook.Agent.Runtime/bin/
JitHook.Agent.Runtime/obj/
JitHook.Agent.Test/bin/
JitHook.Agent.Test/obj/
NetFramework/bin/
packages/
.vs/
NetFramework/obj
